<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutorprototype1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".messageActivity"></activity>
        <activity android:name=".feedbackActivity" />
        <activity android:name=".GroupChatActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity
            android:name=".tutorAccountListActivity"
            android:label="List of Tutors"
            android:parentActivityName=".MainPageActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tutorprototype1.MainPageActivity" />
        </activity>
        <activity
            android:name=".tutorAccountDetailActivity"
            android:label="Tutor Details"
            android:parentActivityName=".tutorAccountListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tutorprototype1.tutorAccountListActivity" />
        </activity>
        <activity
            android:name=".SearchTutorActivity"
            android:parentActivityName=".MainPageActivity" />
        <activity
            android:name=".rateTutorActivity"
            android:parentActivityName=".tutorAccountListActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>